<div id="featured-wrap">
<div id="featured">
  <article>
    <h2>{{ featured.title }}</h2>
    <div class="text">{{ featured.content }}</div>
  </article>
</div>
</div>

<div id="sidebar">
{% for post in posts %}
    <article>
        <h4>{{ post.title }}</h4>
        <div class="date">
          {% if post.updated is not empty %}
          <strong>Updated: </strong>
          {{ post.updated|date("M j, Y g:i a") }}
        {% else %}
          {{ post.date|date("M j, Y") }}
        {% endif %}

        {% if post.author is not empty %}
          | {{ post.author }}
        {% endif %}

        </div>

        {% if post.description is not empty %}
        <div class="description">
          {{ post.description }}
        </div>
        {% endif %}

        <div class="more"><a href="/{{ post.url }}">Read more</a></div>
    </article>
{% endfor %}
</div>