{% for post in posts %}
    <article>
        <h2>{{ post.title }}</h2>
        <p>{{ post.date|date("M j, Y @ g:i a") }} | {{ post.description }} | {{ post.author }}</p>
        <div class="more">{{ post.more }}</div>
    </article>
{% endfor %}