<div class="content">
  <h2>{{ title }}</h2>
  <div class="date">{{ date|date("M j, Y @ g:i a") }}</div>
  <div class="user">
    <span class="name">{{ author_link }}</span>
  </div>
  <div class="text">{{ text }}</div>
  {% if tags_display is not empty %}
  <div class="tags">
    <strong>Tags</strong>
    {% for tag in tags_display %}
      {{ tag }}
    {% endfor %}
  </div>
  {% endif %}
  </div>
</div>
